@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --font-family-Lato: 'Lato', sans-serif;
    --color-site: linear-gradient(90deg, rgba(15, 11, 93, 1) 15%, rgba(36, 36, 212, 1) 90%);
}

body {
    background: rgb(245, 244, 244);
}